<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <th>name</th>
                <th>price</th>
                <th>dec</th>
                <th>image</th>
                <th>action</th>
            </thead>
            <tbody>
                <%  data.forEach((items)=>{ %>
                    <tr>
                        <td><%= items.fruit_name %></td>
                        <td><%= items.fruit_price %></td>
                        <td><%= items.fruit_desc %></td>
                        <td><img src="" alt="noimge"></td>
                        <td>
                            <form action="/delete/<%= items._id %>" method="post" onsubmit="return confirm('are you sure want to delete data ?')">
                                 <button type="submit" class="btn btn-danger">Delete</button>

                            </form>
                        </td>

                        

                    </tr>
                    
                <%}) %>
            </tbody>

        </table>

    </div>
</body>
</html>